* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  height: 3rem;
  font-family: 'Open Sans', sans-serif;
  border-bottom: 1px solid ;

}

.header__logo {
  font-size: 1.8rem;
}

.navbar {
  display: flex;
  align-items: center;
  gap: 4rem;
}
