.title {
    font-size: 6rem;
    font-weight: bold;
    font-family: Arial;
}
.Home{
    background-color:rgb(195, 90, 90);
    color:white;
    padding: 8px 28px;
    margin-top: 10vh;


}
.not-found-container {
    justify-content: center;
    align-items: center;
    height: 55vh;
    text-align: center;
    margin-top: 25vh;

}