.sidebar{
    width: '200px';
    font-family:sans-serif;
}
.sidebar h3{
    font-weight:bold;
    padding-bottom: 1rem;
    padding-top:1rem;
}
.sidebar div{
    padding-left: 1.5rem;
    padding-bottom:0.5rem;
    color:#a5a5a5;
}
.edit{
    font-family:Arial;
    border: 0px solid #ccc;
    box-shadow: 0 0 8px rgba(0,0,0,0.1);
    padding-left: 5rem;
    padding-right: 5rem;
    padding-bottom: 5rem;
    padding-top: 5rem;
    border-radius: 4px;
}
input {
  border: 0px solid #ccc;
  padding: 10px;
  padding-right:4rem;
  border-radius: 4px;
  background-color: #f5f5f5;
}

.page{
    display:flex;
    margin-top: 10rem;
    margin-bottom: 10rem;
    margin-left: 10rem;
    margin-right: 10rem;
    gap:5rem;
}
.profile{
  padding-top:1rem;
  padding-bottom:1rem;
}
.edit button{
    background-color:rgb(195, 90, 90);
    color:white;
    padding: 8px 28px;
    margin-top: 10vh;
    margin-left:100hv;
}
.edit h2{
    color:rgb(195, 90, 90);
    font-weight:bold;
    font-size:large;

}